*{
    margin: 0;
    padding: 0;
}


/* height for blocks with films */
.container-fluid>.height{
    max-height:1000px;
    min-height:560px; 
}

/* size for images with failms */
.size_picture>img{
    border:2px solid #4d4949;
    border-radius:5px;
	width:100%;
	height:350px;	
}
/* height for div with films */
.height > div{
    max-height:600px;
    min-height:560px;    
}



.margin{
    margin:17px 0 0 5px;
}


table {
    width: 100%; /* растягиваем таблицу на всю ширину контента */
    border-collapse: collapse; /* схлопываем границы ячеек */
    table-layout: fixed;
}
table td {
    padding: 0 10px; /* для красоты добавляем отступы в ячейках */  
}
table img {
    width: 100%; /* растягиваем изображение на всю ширину ячейки */
}
.text-muted{
    margin:0;
}






/* ///////////////////////////////////////////////////////// */
/* Style for test blocks with films */
/* .block_left{
    background:rgb(168, 110, 110);
}
.block_right{
    background:rgb(71, 90, 43);
}
.film_1{
    background:rgb(14, 113, 131)
}
.film_2{
    background:rgb(210, 212, 49)
}
.film_3{
    background:rgb(134, 49, 116)
}
.film_4{
    background:rgb(47, 255, 82);
}
.film_5{
    background:rgb(50, 65, 68)
}
.film_6{
    background:rgb(30, 51, 44)
}
.film_7{
    background:rgb(216, 32, 176)
}
.film_8{
    background:rgb(54, 7, 107);
} */
/* ///////////////////////////////////////////////////////// */



